<div class="container">
  <form class="form" [formGroup]="flightsForm">
    <div
      class="options"
      [ngClass]="question.type"
      *ngFor="let question of formOptions"
    >
      <div class="form-header">
        <label>{{ question.title }}</label>
        <input
          *ngIf="isRange(question)"
          type="number"
          id="number-input"
          [min]="question.min"
          [max]="question.max"
          value="{{ question.rangeNum }}"
          #ref
          (change)="getInputValue(ref.value, question)"
        />
      </div>

      <div
        class="section"
        *ngIf="!isCountry(question) && !isDatabase(question)"
      >
        <input
          id="checkbox-item"
          *ngIf="isContinous(question)"
          type="checkbox"
          (change)="checkboxValue = !checkboxValue"
        />

        <input
          *ngIf="
            (isContinous(question) && checkboxValue) || !isContinous(question)
          "
          type="{{ question.type }}"
          [placeholder]="question.placeholder"
          [required]="question.required"
          [min]="question.min"
          [max]="question.max"
          #ref
          (change)="getInputValue(ref.value, question)"
          value="{{ question.rangeNum }}"
        />
      </div>

      <div class="section" *ngIf="isDatabase(question)">
        <select formControlName="database">
          <option class="dropdown-item" disabled selected value="undefined">
            {{ question.placeholder }}
          </option>
          <option *ngFor="let database of databaseList" [value]="database">
            {{ database }}
          </option>
        </select>
      </div>

      <div class="section" *ngIf="isCountry(question)">
        <select formControlName="country">
          <option class="dropdown-item" disabled selected value="undefined">
            {{ question.placeholder }}
          </option>
          <option *ngFor="let country of countries" [value]="country.cca2">
            {{ country.name.common }}
          </option>
        </select>
      </div>
    </div>
    <div class="button-container">
      <button type="submit">Generate!</button>
    </div>
  </form>
</div>
