.container{
    height: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
}
.form{
    display: flex;
    width: 975px;
    height: 350px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 26px 50px;
    flex-shrink: 0;
    flex-wrap: wrap;
}
.options{
    display: flex;
    width: 460px;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    flex-shrink: 0;
}
.section{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-header{
    display: flex;
    flex-direction: row;
    gap:5px;

    span{
        color: red;
        font-weight: 700;
    }
}
.database .section{
    width: 460px;
}
.database{
    flex: 0 0 100%;
    align-items: center;
    
}
#checkbox-item{
    width: 24px;
    height: 24px;
    margin-top: 10px;
}

::ng-deep .mat-slider-horizontal, ::ng-deep .mat-slider-vertical, .mat-mdc-slider {
  background: #FFF;
  border-radius: 20px;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
}

::ng-deep .mat-slider-thumb {
  width: 25px;
  height: 25px;
  background-color: #002142 !important;
  border-radius: 24px;
  border: 2px solid #FFF;
  margin-top: 0;
  margin-left: -10px;
  margin-right: -10px;
}

::ng-deep .mat-slider-track-fill {
  background-color: #002142;
}

::ng-deep .mat-slider-track-background, ::ng-deep .mat-slider-buffer, ::ng-deep .mat-slider-wrapper {
  height: 4px;
}

::ng-deep .mat-slider-thumb-label {
  color: #002142;
}

::ng-deep .mat-slider-thumb-label {
    font-size: 12px;
    color: #002142;
  }

.options input[type=range]{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    vertical-align: middle;
    padding: 0;

    border-radius: 20px;
    background: #FFF;

    -webkit-appearance: none;
}
.options input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: #002142 !important;
    border-radius: 24px;
    border: 2px solid #FFF;
}

.options input,select{
    display: flex;
    padding: 12px;
    width: 100%;
    align-items: flex-start;
    
    gap: 10px;
    align-self: stretch;

    border-radius: 4px;
    border-color: #F8FAFC;
    background: var(--surface-light, #F8FAFC);
    border-style:solid;
    
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.16px;
}

label{
    align-self: stretch;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.16px;
}

.button-container{
    display: flex;
    justify-content: center;
    flex: 0 0 100%;
}

.button-container button{
    width: 205px;
    height: 57px;
    flex-shrink: 0;

    border-radius: 5px;
    background: #002142;

    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-style:solid
}
button:hover{
    cursor: pointer;
}