<div class="component">
    <app-header
    [title]="'Schedules'"
    [subtitle]="'Subfleets - '+airlineName"
    [imageUrl]="'../../assets/images/transparent_blue_fit.png'"
  ></app-header>

  <app-result-table class="table" *ngIf="columns && rows" [columns]="columns" [rows]="rows"></app-result-table>

  <form ngNoForm class="form-subfleets" [formGroup]="subfleetsForm" (ngSubmit)="onSubmitNext()">
    <div class="form-section">
        <app-custom-label
        [title]="'Aircraft Type (Same as your PHPvms type)'"
        [required]="false"
      ></app-custom-label>
      <app-custom-input
        class="custom-input"
        (formControlChange)="
        onFormControlChange($event, 'subfleets')
      "
        [type]="'textarea'"
        [placeholder]="'A320,A20N,A21N'"
      ></app-custom-input>
    </div>

    <div class="form-section">
        <app-custom-label
        [title]="'Aircraft Hub (ICAO)'"
        [required]="false"
      ></app-custom-label>
      <app-custom-input
        class="custom-input"
        (formControlChange)="
        onFormControlChange($event, 'hub')
      "
        [type]="'textarea'"
        [placeholder]="'KJFK, KSFO, EDDF'"
      ></app-custom-input>
    </div>

    <div class="form-section">
        <app-custom-label
        [title]="'Operational Countries'"
        [required]="false"
      ></app-custom-label>
      <mat-select formControlName="countries" multiple>
        @for (country of countries; track country) {
          <mat-option [value]="country.cca2">{{country.name.common}}</mat-option>
        }
      </mat-select>
    </div>

    <div class="form-section">
        <app-custom-label
        [title]="'Aircraft Demand Operations'"
        [required]="false"
      ></app-custom-label>
      <mat-select formControlName="demands" multiple>
        @for (demand of demands; track demand) {
          <mat-option [value]="demand">{{demand}}</mat-option>
        }
      </mat-select>
    </div>

    <div class="buttons-container">
        <button type="button" class="addNew" (click)="addNewSubmit()">Add new</button>
        <button type="submit" class="nextDisabled" [ngClass]="{'nextActive': isNextActive()}">Next</button>
    </div>
  </form>
</div>