<div class="component">
  <app-header
    [title]="'About'"
    [imageUrl]="'../../assets/images/transparent_blue_fit.png'"
  ></app-header>
  <div class="content">
    <div class="text-image">
      <div class="overview">
        <h1 class="title">Overview ✈️</h1>
        <p class="paragraph">
          Welcome to Flight Sim Routes, an open source platform designed for
          aviation enthusiasts and virtual pilots alike. This project mission is
          to provide a comprehensive solution for generating realistic and
          customized flights and schedules for Flight Simulators.
        </p>
        <ul class="overview-ul">
          <li>
            Flight Sim Routes Random Database is powered by
            <a class="link" href="https://ourairports.com/" target="_blank"
              >OurAirports.com</a
            >
            database, enables the creation of flights based on user preferences
            or entirely random parameters. For more authenticity, the Real
            Flights Database, provides access to genuine live flight schedules
            sourced at moment only from
            <a class="link" href="https://opensky-network.org/" target="_blank"
              >The OpenSky Network</a
            >
            and in future more to come.
          </li>
          <li>
            Flight Sim Routes Virtual Airlines Schedules Generator, a
            groundbreaking feature for virtual airlines. Enables the schedule
            creation and customization of personalized schedules in a matter of
            minutes. Compatible and tested with PHPvms 7.x.
          </li>
        </ul>
      </div>
      <img
        src="../../assets/images/transparent_blue_fit.png"
        alt="FlightSim Routes Logo"
      />
    </div>
    <div class="tecnologies">
      <h1 class="title">Technologies 🛠</h1>
      <ul class="tecnologies-ul">
        <li>Angular</li>
        <li>Typescript</li>
        <li>Java</li>
        <li>Spring</li>
        <li>Scss</li>
      </ul>
    </div>
    <div class="text-image">
      <div class="aboutme">
        <h1 class="title">About me 👋🏻</h1>

        <p class="paragraph">
          My name is Lucas Müller and I am the sole creator behind Flight Sim Routes. an aviation enthusiast and
          computer science graduate eager to kickstart my career.
          Projects like Flight Sim Routes allow me to showcase my skills to the
          world. <br />
          Being an enthusiastic flight simulation hobbyist, I recognize the
          importance of accessible and innovative tools for virtual airlines.
          Flight Sim Routes embodies my dedication to providing users with a
          user-friendly, feature-rich experience, simplifying the process of
          creating and customizing schedules and flights.<br />
          I hope you enjoy Flight Sim Routes as much as I enjoyed working on
          this project! Your support is highly appreciated; feel free to
          contribute through a donation if you find the platform valuable.
        </p>
      </div>
      <img src="../../assets/images/pfp.jpg" alt="FlightSim Routes Developer" />
    </div>
  </div>

  <app-contactme class="contact" [row]="true"></app-contactme>
</div>
