<div class="container" [ngClass]="{'active': isRow }">
    <div class="banner" [ngClass]="{'banner-row': isRow }" [ngStyle]="{'background': 'linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url('+imageUrl+'), lightgray 50% / cover no-repeat'}">
        <h1>{{ title }}</h1>
    </div>
    <div class="description-button-column" [ngClass]="{'description-button': isRow }">
        <p class="description">{{description}}</p>
        <div class="link-section">
            <a routerLink={{routerLink}}>
                <button class="button">
                    <img *ngIf="isIconActive()" [src]="buttonIconPath" alt="Button Icon">
                    <p>{{buttonText}}</p>
                </button>
            </a>
        </div>
    </div>
</div>
