.container{
    height: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
}
.header-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-title h1{
    color: #000;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header-title img{
    width: 50px;
    flex-shrink: 0;
    padding-left: 10px;
}

.item-title h1{
    color: #000;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}