<div class="component">
  <app-header
    [title]="'Schedules'"
    [subtitle]="'Airports - ' + airlineName"
    [imageUrl]="'../../assets/images/transparent_blue_fit.png'"
  ></app-header>

  <div class="tables">
    <div class="table">
      <app-custom-label
        [title]="'Extreme Demand'"
        [required]="false"
      ></app-custom-label>
      <app-result-table [columns]="columns" [rows]="rows"></app-result-table>
    </div>

    <div class="table">
      <app-custom-label
        [title]="'Big Demand'"
        [required]="false"
      ></app-custom-label>
      <app-result-table [columns]="columns" [rows]="rows"></app-result-table>
    </div>

    <div class="table">
      <app-custom-label
        [title]="'Medium Demand'"
        [required]="false"
      ></app-custom-label>
      <app-result-table [columns]="columns" [rows]="rows"></app-result-table>
    </div>
  </div>

  <form ngNoForm class="form-airports" [formGroup]="airportsForm">
    <div class="form-section">
      <app-custom-label
        [title]="'Airport ICAO'"
        [required]="true"
      ></app-custom-label>
      <app-custom-input
        class="custom-input"
        (formControlChange)="onFormControlChange($event, 'icao')"
        [type]="'textarea'"
        [placeholder]="'KJFK, KSFO, EDDF'"
      ></app-custom-input>
    </div>

    <div class="form-section">
      <app-custom-label
        [title]="'Aircraft Demand Operations'"
        [required]="false"
      ></app-custom-label>
      <mat-select formControlName="demands" multiple>
        @for (demand of demands; track demand) {
        <mat-option [value]="demand">{{ demand }}</mat-option>
        }
      </mat-select>
    </div>
    <div class="buttons-container">
      <button type="button" class="addNew" >Add new</button>
      <button type="submit" class="nextDisabled" >Next</button>
  </div>
  </form>
</div>
