label{
    align-self: stretch;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.16px;
}

span{
    color: red;
    font-weight: 700;
}