.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}
table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
    border-collapse: collapse;
    width: 969px;
}

tr{
    height: 65px;
}


th{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 26px */
    text-align: left;

    padding-left: 10px;
}
tbody{

}

td{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */


    padding-left: 10px;
}
.pagination{
    display: flex;
    flex-direction: row;
    align-items: center;

    span{
        font-size: 20px;
    }
}
button{
    padding: 0;
    border: none;
    background: none;
}
button:disabled{
    svg path{
        fill: #cccccc;
    }

    button:hover{
        cursor: none;
    }
}
svg{
    width: 30px;
    height: 30px;
}

.actions svg{
    width: 24px;
    height: 24px;
}
.actions:hover{
    cursor: pointer;
}

@media (max-width: 1300px) {
    .container{
        width: 100%;
    }
    tr{
        width: 100%;
    }
}

@media (max-width: 500px) {
    table thead {
        display: none;
    }
    table td {
        display: flex;
    }
    td::before { 
        content: attr(data-title); 
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
    }
    th, td {
        width: 100%;
    }

}