.page-container{
    display: flex;
    flex-direction: row;
}

.content-container{
    align-self:flex-start;
    border-radius: 15px;
    background: #D9D9D9;  
    width: 100%;
    margin: 65px 30px 0 0;
    padding-bottom: 20px;
}
@media (min-height: 900px) and (min-width: 1100px){
    .content-container{
        height: 90vh;
    }
    .page-container{
        height: 100vh;
    }
    
}
@media (max-height: 900px){
    .page-container{
        min-height: 100vh;
    }
    .content-container{
        min-height: 90vh;
    }
}
@media (max-width: 1100px){
    .page-container{
        justify-content: center;
    }
    .content-container{
        align-self:center;
        width: 90%;
        margin: 0;
    }
}